<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><i class="fas fa-hamburger"></i> Devour a Burger!</h1>
            <p class="lead">Create your favorite burger and devour it!</p>
            <img src="../public/assets/img/burger.gif" alt="burger" class="href">
        </div>
    </div>

    <div class="container bg-light">
        <div class="row">
            <div class="col-lg-6">
                <h2>Burgers ready to eat</h2>
                <ul style="list-style-type:none;">
                    {{#each burgers}}
                    {{#unless this.devoured}}
                    <li>
                        <div class="right-align">
                            {{burger_name}}

                            <button class="btn btn-warning devour" type="submit" data-id="{{id}}"
                                data-newDevour="{{devoured}}">DEVOUR! <i class="fas fa-hamburger"></i></button>
                        </div>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>

            <div class="col-lg-6">
                <h2>Devoured Burgers</h2>
                <ul>
                    {{#each burgers}}
                    {{#if this.devoured}}
                    <li>
                        {{burger_name}}
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>

    </div>
    <div class="container-fluid bg-light">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Add a Burger!</h2>

                <form class="create-form">
                    <div class="form-group text-center">
                        <label for="burgerName">Burger Name: </label>
                        <input type="text" id="burgerName">
                    </div>

                    <div class="text-center">
                        <button class="btn btn-success" type="submit" name="action" id="addBurger">Add
                            Burger
                            <i class="fas fa-hamburger"></i></button>
                    </div>

                </form>
            </div>
        </div>
    </div>